@font-face {
    font-family: "got";
    src: url(police/Game\ of\ Thrones.ttf);
}

@font-face {
    font-family: "merienda";
    src: url(police/Merienda/Merienda-VariableFont_wght.ttf);
}


html{
background: linear-gradient(rgb(250, 250, 250), rgb(200, 200, 200), rgb(150, 150, 150));
font-family:"merienda";
}

body section{
    line-height: 28px;
}

/**Header**/
header{
    background:linear-gradient(rgb(0 0 0 / 10%), rgb(0 0 0 / 70%));
    position: sticky;
    top: 0;
}

#logos{
    display: flex;
}

#logos a{
    width: 11%;
    height: 70px;
}

#logos img{
    width: auto;
    height: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    font-family: "got";
    word-spacing: 5px;
}

nav li{
    border-right: 5px groove black;
    border-collapse: collapse;
    padding : 20px 0 20px 0;
    width: 33%;
    text-align: center;
}

nav li:last-child{
    border-right: none
}


nav li:hover{
    background: rgb(0 0 0 / 20%);
}



nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color:peru;
    text-shadow: 2px 2px darkred;
}

header img{
    margin: auto;
    display: flex;
    width: 500px;
}


/**Body**/

figcaption{
    text-align: center;
    color: #95886A;
}

figure{
    border-radius: 20px;
    background-color: #0D1316;
}

figure img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h2, h3{
    font-family: "got";
}

